#home {
  background-image: url("../../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_main {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 65, 82, 0.8);
  padding: 50px;
  border: 1px solid #57c6f2;
  border-radius: 50px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}
@media (max-width: 767px) {
  .form_main {
    width: 341px;
    height: 610px;
  }
}

.heading {
  font-size: 2.5em;
  color: white;
  font-weight: 700;
  margin: 15px 0 30px 0;
}

label {
  font-size: 24px;
  width: 100%;
  color: white;
  text-align: center;
}

::-moz-placeholder {
  color: #95abb4 !important;
}

::placeholder {
  color: #95abb4 !important;
}

.inputContainer,
.inputContainer2 {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

#inputIcon {
  position: absolute;
  left: 10px;
  top: 40px;
  color: #95abb4;
  margin-left: 5px;
}

.inputField {
  width: 100%;
  height: 75px;
  background-color: transparent;
  border: 2px solid #57c6f2;
  border-radius: 30px;
  margin: 10px 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 40px;
}

.inputField:focus {
  outline: none;
}

.inputField::-moz-placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

#button,
#button1 {
  position: relative;
  width: 100%;
  border: 2px solid #57c6f2;
  background-color: transparent;
  height: 40px;
  color: white;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  padding: 0 2rem;
}

#button:hover {
  border: 2px solid #57c6f2;
  background-color: #57c6f2;
}
#button::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.253);
  height: 100%;
  width: 150px;
  top: 0;
  left: -200px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  filter: blur(10px);
  transition-duration: 0.5s;
}

#button:hover::after {
  transform: translateX(600px);
  transition-duration: 0.5s;
}
#eye {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: #95abb4;
  cursor: pointer;
}
